<div class="translucent jumbotron bg-cream margin-top-sm margin-bottom">
    <h1 class="center">Login</h1>
    <%= form_with(url: login_path, method: "post", scope: :session, local: true) do %>
    
        <div class="form-group">
            <%= label_tag(:email, "email") %>
            <%= text_field_tag :email, "", class: "form-control" %>
        </div>
        <div class="form-group">
            <%= label_tag(:password, "password") %>
            <%= password_field_tag :password, "", class: "form-control" %>
            <%= link_to "forgot password?", new_password_reset_path %>
        </div>
        <div class="form-group">
            <%= label_tag(:remember_me, class: "checkbox inline") do %>
                <%= check_box_tag(:remember_me) %>
                <span>Remember me on this computer</span>
            <% end %>
        </div>
        <%= submit_tag("Login", class: "btn btn-magenta") %>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
</div>