<h1>Login</h1>
<%= form_with(url: login_path, method: "post", scope: :session, local: true) do %>
    <%= label_tag(:email, "email") %>
    <%= text_field_tag(:email) %>
    <%= label_tag(:password, "password") %>
    <%= password_field_tag(:password) %>
    <%= label_tag(:remember_me, class: "checkbox inline") do %>
        <%= check_box_tag(:remember_me) %>
        <span>Remember me on this computer</span>
    <% end %>
    <br> <br>
    <%= submit_tag("Login") %>
<% end %>
<p>New user? <%= link_to "Sign up now!", new_user_path %></p>
