<h1> Jennifer's Design Studio </h1>

<p> Hi <%= @user.name %>, </p>

<p>
We have recieved your card order and have begun to process it. Below are your order details:
</p>

<table class="table table-striped">
    <thead >
    <h3 class="center pad-top pad-bottom">Purchased Items</h3>
    <tr>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <% @cards.each do |card| %>
        <tr>
            <td class="no-wrap"> <%= card.short_description %> </td>
            <td class="no-wrap container"> 
                <div class="row">
                <%= @sizes[card.id] %> 
                </div>
            </td>
            <td class="no-wrap"> $<%= price_to_string(@sizes[card.id] * card.price) %> </td>
        </tr>
    <% end %>
    <td> $<%= @total %> </td>
    </tbody>
</table>

<p> Thanks for your purchase! If you have concerns or questions email me at: <a href="mailto:<%=ENV['ADMIN_EMAIL']%>"><%=ENV['ADMIN_EMAIL']%></a></p>