<h1> Jennifer's Design Studio </h1>

<p> Hi Mom! </p>

<p>
You have recieved an order! Below are the details:
@cards.size = <%= @cards.size %>
</p>

<table class="table table-striped">
    <thead >
        <h3 class="center pad-top pad-bottom">Purchased Items</h3>
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <% @cards.each do |card| %>
            <tr>
                <td class="no-wrap"> <%= card.short_description %> </td>
                <td class="no-wrap container"> 
                    <div class="row">
                    <%= @sizes[card.id] %> 
                    </div>
                </td>
                <td class="no-wrap"> $<%= price_to_string(@sizes[card.id] * card.price) %> </td>
            </tr>
        <% end %>
    </tbody>
</table>

<p> 
    Click this link to view all the orders on the site <%= link_to "click me", "https://jennifers-design-studio.herokuapp.com/orders"%>.
    Make sure to make sure the user has not canceled the order before you start working on it,
    and change the order status to "in process" when designing it and "shipping" once you have shipped it.
</p>

