<tbody>
    <% @cards.each do |card| %>
    <tr>
        <td class="no-wrap" scope="row"> 
        <img class="responsive" src= <%= rails_blob_path(card.display_s3) %> height=250px width=150px/> 
        </td>
        <td class=""> <%= card.short_description %> </td>
        <td class="no-wrap"> 
        <div class="">
            <%= link_to [get_selection(@cart, card)], method: :delete do %>
            <i class="fas fa-minus"></i>
            <% end %>
            &nbsp;
            <%= @sizes[card.id] %> 
            &nbsp;
            <%= link_to selections_path(selection: {shopping_cart_id: @cart.id, card_id: card.id}), method: :post do %> 
            <i class="fas fa-plus"></i>
            <% end %>
        </div>
        </td>
        <td class=""> $<%= @sizes[card.id] * 5 %> </td>
        <td class="no-wrap margin-right-sm"> <%= link_to "Remove", remove_card_selections_path(selection: {shopping_cart_id: @cart.id, card_id: card.id}), method: :delete%> </td>
    </tr>
    <% end %>
</tbody>
