

<div class="containter mx-auto">
  <div class="row">
    <div class="col-1"> </div>
    <div class="col-10">
      <div class="container">
        <div class="row">
          <div class="col-7 bg-cream margin-top pad-all" >
            <table class="table table-striped bg-light-pink">
              <thead >
                <h3 class="center pad-top pad-bottom">Shopping Cart</h3>
                <tr>
                  <th scope="col">Card</th>
                  <th scope="col">Description</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th> </th>
                </tr>
              </thead>
              <tbody>
                <% @cards.each do |card| %>
                  <tr>
                    <td class="no-wrap" scope="row"> 
                      <img class="responsive" src= <%= asset_path(card.img) %> height=250px width=150px/> 
                    </td>
                    <td class="no-wrap"> <%= card.content %> </td>
                    <td class="no-wrap container"> 
                      <div class="row">
                        <%= button_to [get_selection(@cart, card)], method: :delete do %>
                          <i class="fas fa-minus"></i>
                        <% end %>
                        &nbsp;
                        <%= @sizes[card.id] %> 
                        &nbsp;
                        <%= button_to [:selections], params: {selection: {shopping_cart_id: @cart.id, card_id: card.id}} do %> 
                          <i class="fas fa-plus"></i>
                        <% end %>
                      </div>
                    </td>
                    <td class="no-wrap"> $5.00 </td>
                    <td class="no-wrap"> <%= link_to "Remove", remove_card_selections_path(selection: {shopping_cart_id: @cart.id, card_id: card.id}), method: :delete%> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="col-1"> </div>

          <div class="col-4 pad-top margin-top"> 
            <div class="jumbotron bg-cream">
              <h3 class="pad-bottom"> Order Summary </h3>
              <div class="card border-dark mb-3 bg-pink">
                <div class="card-body">
                  <h5 class="card-title">Subtotal <span style="float:right;"> $<%= @total %> </span> </h5>
                  <h5 class="card-title">Shipping <span style="float:right;"> FREE </span> </h5>
                  <hr>
                  <h4 class="card-title">Total <span style="float:right;"> $<%= @total %> </span> </h4>
                  <br>
                  <% if logged_in? %>
                    <%= button_to "Checkout", new_order_path, method: :get, class: "btn btn-sm btn-primary center"%>
                  <% else %>
                    <%= button_to "Checkout", new_order_path, method: :get, class: "btn btn-sm btn-primary center"%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-1"> </div>
  </div>
</div>
