<div class="bg-field fill">
  <div class="container">
    <div class="row">
      
      <div class="offset-md-2 col-8">
        <div class="card card-block margin-top padding-sides bg-light-pink translucent">
          <div class="card-body">
            <h4 class="card-title"> <%= @user.name %></h4>
            <h5 class="card-text"> 
              <%= @user.email %> 
              <% if @user == current_user %>
                <%= link_to "Edit Information", edit_user_path(@user), class: "btn btn-primary white float-right"%>
              <% end %>
            </h5>
            <p class="card-text">
            <% if @user == current_user %>
              <% if user_admin? %>
                <p> <%= link_to "Create a card", new_card_path %> </p>
              <% else %>
                <p> <%= link_to "View all addresses", addresses_path%> </p>
              <% end %>
              <p> <%= link_to "View all orders", orders_path%> </p>
            <% end %>
            </p>
          </div>
        
            
        </div>
      </div>
    </div>

    <% if !@orders.empty? %>
      <h3 class="center label-bold blue pad-top-more"> Your Recent Orders: </h3>

      <div class="row margin-top margin-bottom">
        <% @orders.each do |order| %>
         
          <div class="col-4">
            <%= link_to orders_path do %>
              <div class="card card-block padding-sides bg-light-pink translucent">
                <div class="card-body">
                  <h5 class="card-header"> Ordered On <%= order.created_at.to_date %> </h5>
                  <% order.cards.first(2).each do |card| %>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-9">
                          <img class="responsive padding-sides float-left" src= <%= asset_path(card.img) %> />
                        </div>
                        <div class="col-3 margin-top">
                          <h4 class=""> x<%= @sizes[order.id][card.id]%> </h4>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <% if @overflow[order.id] > 0%>
                  <h6 class="center"> ... + <%=@overflow[order.id]%> more ... </h6>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
