<% if logged_in? %>

    <div class= "col-2 offset-3">
        <strong> <%= title %> </strong>
    </div>
    <div class="col-4">
        <%= collection_select(:order, id, @addresses.order(:address_line_1), :id, :address_line_1, {}, {class: "form-control"})%>
        <br>
        <%= link_to "Add New Address", new_address_path%>
    </div>
    
<% else %>

    
        <% if title == "Billing"%>
            <div class="row">
                <div class="col-3">
                    <strong> <%= title %> Address </strong>  
                </div>
                <div class="col-1 offset-4">
                    <%= check_box_tag "same", false, false, class:"lg-checkbox"%>
                </div>
                <div class="col">
                    <%= label_tag(:same_label, "Same as shipping address", class:"label-bold") %> 
                </div>
            </div>
        <% else %>
            <strong> <%= title %> Address </strong>  
        <% end %>
        <div id= <%=title%>>
            <hr>
            <%= render 'address_form', address: address, title: title %>
        </div>
    

<% end %>
    