
<% if address.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

    <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field form-group">
  <%= label_tag :country %>
  <%= country_select :country, {priority_countries: ["US"]}, {class: "form-control"} %>
</div>

<div class="field form-group">
  <%= label_tag :full_name %>
  <%= text_field_tag :full_name, class: "form-control" %>
</div>

<div class="field form-group">
  <%= label_tag :address_line_1 %>
  <%= text_field_tag :address_line_1, class: "form-control" %>
</div>

<div class="field form-group">
  <%= label_tag :address_line_2 %>
  <%= text_field_tag :address_line_2, class: "form-control" %>
</div>

<div class="field form-group">
  <%= label_tag :city %>
  <%= text_field_tag :city, class: "form-control" %>
</div>

<div class="field form-group">
  <%= label_tag :state %>
  <%= collection_select :address, :state, @states, :to_s, :to_s, {selected: "MA"}, {include_blank: true, class: "form-control"} %>
</div>

<div class="field_tag form-group">
  <%= label_tag :zip %>
  <%= text_field_tag :zip, class: "form-control" %>
</div>

<div class="field form-group">
  <%= label_tag :phone_number %>
  <%= text_field_tag :phone_number, class: "form-control" %>
</div>

<div class="field">
  <%= hidden_field_tag :user_id, :value => current_user.id, class: "form-control" %>
</div>

