<div id="env" data-public_key=<%= @publishable_key%> class="container sr-root">
    <p id="error" class="hidden alert alert-danger"> </p>
    <div class="hidden alert alert-success" id="success">
        
            Payment Succeeded! A confirmation will be sent to your email.
        
    </div>
    <form id="payment-form">

        <%= hidden_field_tag :amount, @total*100%>
        <%= hidden_field_tag :currency, "usd"%>
        <%= hidden_field_tag :user_id, @user_id%>

        <div class="hide-lg-more" id ="lg">
            <div id="shipping" class= 'row margin-top'>
                <div class="col-8 offset-2">
                <%= render 'address_block', address: Address.new, id: :shipping_address_id, title: "Shipping" %>
                </div>
            </div>


            <hr>
            
            <div>
                <div id="billing">
                    <br> <br>
                    <div class="col-8 offset-2">
                    <%= render 'address_block', address: Address.new, id: :billing_address_id, title: "Billing" %>
                    <br> <br>
                    </div>
                </div>

                <div class="col-8 offset-2">
                    <strong> Payment Method </strong>
                    <br> <br>
                    <%= render 'payment_method' %>
                </div>

            </div>
        </div>

        <div class="hide-sm-more" id ="sm">
            <div id="shipping" class= 'row margin-top-md'>
                <div class="offset-1 col-10">
                    <%= render 'mobile_address_block', address: Address.new, id: :shipping_address_id, title: "Shipping" %>
                </div>
            </div>

            <hr>

            <div id="billing">
                <div class="offset-1 col-10">
                    <%= render 'mobile_address_block', address: Address.new, id: :billing_address_id, title: "Billing" %>
                    <hr>
                </div>
            </div>
            
            

            <div class= 'row'>
                <div class= "offset-1 col-10">
                    <strong> Payment Method </strong>
                    <br> <br>
                    <div class="bg-white padding-sides gray-border"id="card-element">
                        <!-- Elements will create input elements here -->
                    </div>

                    <!-- We'll put the error messages in this element -->
                    <div id="card-errors" role="alert">
                    </div>
                </div>
            </div>
        </div>


        <hr>

        <div class= 'row'>
            <div class= "col-lg-8 offset-lg-2"> <data public_key=<%= @publishable_key%>> </data>
                <div class="gray-border">
                    <br>
                    <div class="container">
                        <% @cards.each do |card| %>
                            <div class="row h-100 ">
                                <div class="col-3 margin-bottom-sm">
                                    <img class="responsive" src= <%= rails_blob_path(card.display_s3) %> height=250px width=150px/>
                                </div>
                                <div class="col-3 my-auto">
                                    <%= card.short_description %>
                                </div>
                                <div class="col-3 my-auto">
                                    <%= link_to [get_selection(current_cart, card)], method: :delete do %>
                                        <i class="fas fa-minus"></i>
                                    <% end %>
                                    &nbsp;
                                    <%= @sizes[card.id] %> 
                                    &nbsp;
                                    <%= link_to selections_path(selection: {shopping_cart_id: current_cart.id, card_id: card.id}), method: :post, params: {selection: {shopping_cart_id: current_cart.id, card_id: card.id}} do %> 
                                        <i class="fas fa-plus"></i>
                                    <% end %>
                                </div>
                                <div class="col-3 my-auto">
                                    $<%= price_to_string(@sizes[card.id] * card.price) %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <br> <br>

        <div class="row margin-bottom">
            <div class="col-lg-8 offset-lg-2">

                <div class="container gray-border padding-sides">
                    <div class="row">
                        <div class="col-lg-3 col-5 offset-1">

                            <%= button_tag(type: "submit", class: "btn btn-magenta", id: "submit") do %>
                                <span id="button-text"> Place Order </span>
                                <div class="spinner hidden" id="spinner"></div>
                            <% end %>

                            <i id="check" class="hidden green fas fa-check-circle fa-4x" style="color:green;", ></i>
                        </div>
                        <div class="hide-lg-more col-md-4 offset-md-3 margin-top-xxtrasm">
                            <h4> <strong class="move-right center-absolute"> Total: $<%= @total%> </strong> </h4>
                        </div>
                        <div class="hide-sm-more col-6 margin-top-xxtrasm">
                            <h4> <strong class=""> Total: $<%= @total%> </strong> </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>



<script src="https://js.stripe.com/v3/"></script>
<script>
    width = $(window).width();
    if (width <= 750) {
        document.getElementById("lg").remove();
    } else {
        document.getElementById("sm").remove();
    }
</script>
<script>

    var same_address = document.getElementById("same");
    var billing_form = document.getElementById("Billing");
    var shipping_form = document.getElementById("Shipping")

    same_address.onclick = function() {
        
        if (same_address.checked) {            
            billing_form.style.display = "none";
        } else {
            billing_form.style.display = "block";
        }
    }

</script>
<script>
   
    console.log('big')

    // Show a spinner on payment submission
    var changeLoadingState = function(isLoading) {
        if (isLoading) {
            console.log('spinner time')
            
            document.getElementById("submit").disabled = true;
            document.querySelector("#spinner").classList.remove("hidden");
            document.querySelector("#button-text").classList.add("hidden");
        } else {
            document.getElementById("submit").disabled = false;
            document.querySelector("#button-text").classList.remove("hidden");
            document.querySelector("#spinner").classList.add("hidden");
        }
    };

    var paymentSuccess = function() {
        document.getElementById("error").style.display = "none";
        document.getElementById("success").style.display = "block";
        document.getElementById("submit").style.display = "none";
        document.getElementById("check").style.display = "block";
        window.scrollTo(0, 0);
    }

    document.getElementById("error").style.display = "none";
    document.getElementById("success").style.display = "none";


    var env = document.getElementById("env")
    var stripe = Stripe(env.getAttribute("data-public_key"))
    console.log(env.getAttribute("data-public_key"))
    
    var elements = stripe.elements();

    // Set up Stripe.js and Elements to use in checkout form
    var style = {
        base: {
            color: "#32325d",
        }
    };

    var card = elements.create("card", { style: style });
    console.dir(card)
    card.mount("#card-element");


    card.on('change', ({error}) => {
    const displayError = document.getElementById('card-errors');
        if (error) {
            displayError.textContent = error.message;
        } else {
            displayError.textContent = '';
        }
    });

    function errorMessage (error = "An Unknown Error Has Occured") {
        document.getElementById("error").innerText = error;
        document.getElementById("error").style.display = "block";
        document.getElementById("success").style.display = "none";
        changeLoadingState(false);
        window.scrollTo(0, 0);
    }


    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(ev) {
        ev.preventDefault();
        changeLoadingState(true);
        console.log("submitted")
        data = new FormData
        data.append("order[amount]", $("#amount").val())
        data.append("order[currency]", $("#currency").val())
        data.append("order[user_id]", $("#user_id").val())
        data.append("order[email]", $("#shipping #email").val())

        // Shipping
        data.append("order[shipping_address_id]", -1)
        data.append("order[shipping][full_name]", $("#shipping #full_name").val())
        
        data.append("order[shipping][phone_number]", $("#shipping #phone_number").val())
        data.append("order[shipping][address_line_1]", $("#shipping #address_line_1").val())
        data.append("order[shipping][address_line_2]", $("#shipping #address_line_2").val())
        data.append("order[shipping][city]", $("#shipping #city").val())
        data.append("order[shipping][state]", $("#shipping #state_code").val())
        data.append("order[shipping][zip]", $("#shipping #zip").val())
        data.append("order[shipping][country]", $("#shipping #country_code").val())


        // Billing
        data.append("order[billing_address_id]", -1)
        data.append("order[same_address]", $("#billing #same").is(':checked'))
        data.append("order[billing][full_name]", $("#billing #full_name").val())
        data.append("order[billing][phone_number]", $("#billing #phone_number").val())
        data.append("order[billing][address_line_1]", $("#billing #address_line_1").val())
        data.append("order[billing][address_line_2]", $("#billing #address_line_2").val())
        data.append("order[billing][city]", $("#billing #city").val())
        data.append("order[billing][state]", $("#billing #state_code").val())
        data.append("order[billing][zip]", $("#billing #zip").val())
        data.append("order[billing][country]", $("#billing #country_code").val())

        Rails.ajax({
            url: "/secret",
            type: 'POST',
            data: data,
            error: function(responseJson) {
                console.dir(responseJson)
                console.log('error')
                errorMessage("Invalid Address Info");
            },
            
            success: function(responseJson) {
                var clientSecret = responseJson.client_secret;
                stripe.confirmCardPayment(clientSecret, {
                        payment_method: {
                        card: card,
                        billing_details: {
                            name: responseJson.name,
                            email: responseJson.email,
                            address: {city: responseJson.billing_address.city,
                                    country: responseJson.billing_address.country,
                                    line1: responseJson.billing_address.line1,
                                    line2: responseJson.billing_address.line2,
                                    postal_code: responseJson.billing_address.postal_code,
                                    state: responseJson.billing_address.state}
                        }
                    }
                }).then(function(result) {
                    if (result.error) {
                        // Show error to your customer (e.g., insufficient funds)
                        errorMessage(result.error.message);
                    } else {
                        if (result.paymentIntent.status === 'succeeded') {
                            console.log('payment succeeded!')
                            setTimeout(() => {                                 
                                paymentSuccess();
                            }, 500);
                            
                        } else {
                            errorMessage()
                        }
                    }
                    
                });
            }
        })
    });
    
</script>