<div id="env" data-public_key=<%= @publishable_key%> class="container sr-root">
    <p id="error" class="hidden alert alert-danger"> </p>
    <div class="hidden alert alert-success" id="success">
        
            Payment Succeeded! A confirmation will be sent to your email.
        
    </div>
    <form id="payment-form">

        <%= hidden_field_tag :amount, @total*100%>
        <%= hidden_field_tag :currency, "usd"%>
        <%= hidden_field_tag :user_id, @user_id%>

        <div class="hide-lg-more" id ="lg">
            <div id="shipping" class= 'row margin-top'>
                <div class="col-8 offset-2">
                <%= render 'address_block', address: Address.new, id: :shipping_address_id, title: "Shipping" %>
                </div>
            </div>


            <hr>
            
            <div>
                <div id="billing">
                    <br> <br>
                    <div class="col-8 offset-2">
                    <%= render 'address_block', address: Address.new, id: :billing_address_id, title: "Billing" %>
                    <br> <br>
                    </div>
                </div>

                <div class="col-8 offset-2">
                    <strong> Payment Method </strong>
                    <br> <br>
                    <%= render 'payment_method' %>
                </div>

            </div>
        </div>

        <div class="hide-sm-more" id ="sm">
            <div id="shipping" class= 'row margin-top-md'>
                <div class="offset-1 col-10">
                    <%= render 'mobile_address_block', address: Address.new, id: :shipping_address_id, title: "Shipping" %>
                </div>
            </div>

            <hr>

            <div id="billing">
                <div class="offset-1 col-10">
                    <%= render 'mobile_address_block', address: Address.new, id: :billing_address_id, title: "Billing" %>
                    <hr>
                </div>
            </div>
            
            

            <div class= 'row'>
                <div class= "offset-1 col-10">
                    <strong> Payment Method </strong>
                    <br> <br>
                    <%= render 'payment_method' %>
                </div>
            </div>
        </div>


        <%= render 'footer' %>
    </form>
</div>



<script src="https://js.stripe.com/v3/"></script>
<%= javascript_pack_tag 'checkout'%>