<div class="container margin-bottom">
    <p class="alert alert-info"> it may take a moment for your most recent order to appear </p>
    <h3 class="center"> Your Orders: </h3>
    <% @orders.each do |order| %>
        <div class="container">
            <div class="card">
                <div class="card-header bg-maroon">
                    <div class="row">
                        <div class="col-2">
                            <strong> <span> Date </span> </strong> <br> 
                            <%= order.created_at.to_date %>
                        </div>
                        <div class="col-1">
                            <strong> <span> Total </span> </strong>
                            $<%= order.amount/100 %>0
                        </div>
                        <div class="col-2">
                            <strong> <span> Ordered By </span> </strong> <br>
                            <%= order.user.name %>
                        </div>
                        <div class="col-2">
                            <strong> <span> Shipping To </span> </strong> <br>
                            <%= order.shipping_address.address_line_1 %>
                        </div>                                                        
                    
                    </div>
                </div>
                <div class="card-body bg-cream">
                    <h5 class="card-title"> <strong> Ordered Cards: </strong> </h5>
                    <div class="row">
                        <div class="col-7">
                            <% order.selections.limit(5).each do |selection| %>
                                <% card = selection.card%>
                                <% if card.card_type == "fold over"%>
                                    <img src=<%= asset_path(card.img)%> height=200px width=150px>
                                <% else %>
                                    <img src=<%= asset_path(card.img)%> height=150px width=200px>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="col-1">
                            <% size = order.selections.size - 5 %>
                            <% if size > 1%>
                                <p> + <%= size %> more </p>
                            <% end %>
                        </div>
                        <div class="col-md-auto">
                            <h5 class="center"> <strong> Status: order <%= order.status %> </strong> </h5>
                            <br>
                            <% if order.status == "pending"%>  
                                <%= link_to "Cancel Order", order_path(order), method: :delete, class: "btn btn-primary"%>
                            <% else %>
                                <p> Can not cancel order while shipping </p>
                                <%= link_to "Cancel Order", order_path(order), method: :delete, class: "btn btn-primary disabled"%>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br> <br>
    <% end %>
</div>