<div class="container margin-bottom">
    <% if user_admin? %>
        <h3 class="center margin-top"> Orders: </h3>
    <% else %>
        <h3 class="center margin-top"> Your Orders: </h3>
    <% end %>
    <% @orders.each do |order| %>
        <div class="container">
            <div class="card margin-top-sm">
                <div class="card-header bg-maroon">
                    <div class="row">
                        <div class="col-2">
                            <strong> <span> Date </span> </strong> <br> 
                            <%= order.created_at.to_date %>
                        </div>
                        <div class="col-1">
                            <strong> <span> Total </span> </strong>
                            $<%= order.amount/100 %>0
                        </div>
                        <div class="col-2">
                            <strong> <span> Ordered By </span> </strong> <br>
                            <%= order.user.name %>
                        </div>
                        <div class="col-2">
                            <strong> <span> Shipping To </span> </strong> <br>
                            <%= order.shipping_address.address_line_1 %>
                        </div>                                                        
                    
                    </div>
                </div>
                <div class="card-body bg-cream">
                    <h5 class="card-title"> <strong> Ordered Cards: </strong> </h5>
                    <div class="row">
                        <div class="col-7">
                            <% order.selections.limit(5).each do |selection| %>
                                <% card = selection.card%>
                                <% if card.card_type == "fold over"%>
                                    <img src=<%= rails_blob_path(card.display_s3)%> height=200px width=150px>
                                <% else %>
                                    <img src=<%= rails_blob_path(card.display_s3)%> height=150px width=200px>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="col-1">
                            <% size = order.selections.size - 5 %>
                            <% if size > 1%>
                                <p> + <%= size %> more </p>
                            <% end %>
                        </div>
                        <div class="col-md-auto">
                            <h5 class="center"> <strong> Status: order <%= order.status %> </strong> </h5>
                            <br>
                            <% if @admin %>
                                <%= form_with model: order do |f| %>
                                    <%= f.select :status, @options, {}, { :class => 'form-control' } %>
                                    <br> <br>
                                    <%= f.submit class: "btn btn-magenta center"%>
                                <% end %>
                            <% else %>
                                <% if order.status == "pending"%>  
                                    <%= link_to "Cancel Order", order_path(order), method: :delete, class: "btn btn-magenta center"%>
                                <% else %>
                                    <p> Can not cancel order while being processed or shipped </p>
                                    <%= link_to "Cancel Order", order_path(order), method: :delete, class: "btn btn-magenta disabled center"%>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br> <br>
    <% end %>
</div>