


<div class="container margin-bottom">
    <% if user_admin? %>
        <h3 class="center margin-top"> Orders: </h3>
    <% else %>
        <h3 class="center margin-top"> Your Orders: </h3>
    <% end %>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <%= link_to 'all', orders_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to 'pending', orders_path(status: "pending"), class: "nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to 'in process', orders_path(status: "in process"), class: "nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to 'shipping', orders_path(status: "shipping"), class: "nav-link"%>
        </li>
    </ul>
    <% @orders.each do |order| %>
        <div class="container">
            <div class="card margin-top-sm">
                <div class="hide-lg-more card-header bg-maroon">
                    <div class="row">
                        <div class="col-2">
                            <strong> <span> Date </span> </strong> <br> 
                            <%= order.created_at.to_date %>
                        </div>
                        <div class="col-1">
                            <strong> <span> Total </span> </strong>
                            $<%= order.amount/100 %>0
                        </div>
                        <div class="col-2">
                            <strong> <span> Ordered By </span> </strong> <br>
                            <%= order.user.name %>
                        </div>
                        <div class="col-2">
                            <strong> <span> Shipping To </span> </strong> <br>
                            <%= link_to order.shipping_address.address_line_1, order.shipping_address, class: "white" %>
                        </div>                                                        
                    
                    </div>
                </div>
                <div class="hide-sm-more card-header bg-maroon">
                    <div class="row">
                        <div class="col offset-1">
                            <strong> <span> Date: </span> </strong> <br>
                        </div>
                        <div class="col">
                            <%= order.created_at.to_date %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col offset-1">
                            <strong> <span> Total: </span> </strong>
                        </div>
                        <div class="col">
                            $<%= order.amount/100 %>0
                        </div>
                    </div>
                    <div class="row">
                        <div class="col offset-1">
                            <strong> <span> Ordered By: </span> </strong> <br>
                        </div>
                        <div class="col">
                            <%= order.user.name %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col offset-1">
                            <strong> <span> Shipping To: </span> </strong> <br>
                        </div>      
                        <div class="col">
                            <%= link_to order.shipping_address.address_line_1, order.shipping_address, class: "white" %>
                        </div>
                    </div>                                                  
                    
                    
                </div>
                <div class="hide-lg-more card-body bg-cream">
                    <h5 class="card-title"> <strong> Ordered Cards: </strong> </h5>
                    <div class="row">
                        <div class="col">
                            <% order.selections.limit(3).each do |selection| %>
                                <% card = selection.card%>
                                <% if card.card_type == "fold over"%>
                                    <img src=<%= rails_blob_path(card.display_s3)%> height=200px width=150px>
                                <% else %>
                                    <img src=<%= rails_blob_path(card.display_s3)%> height=150px width=200px>
                                <% end %>
                            <% end %>
                        </div>
                        <% size = order.selections.size - 3 %>
                        <div class="col-1">
                            <% if size >= 1%>
                                <p class="txt-lg margin-top-md margin-right"> + <%= size %> more </p>
                            <% end %>
                        </div>        
                        <div class="col-md-auto">
                            <h5 class="center"> <strong> Status: order <%= order.status %> </strong> </h5>
                            <br>
                            <% if @admin %>
                                <%= form_with model: order do |f| %>
                                    <%= f.select :status, @options, {}, { :class => 'form-control' } %>
                                    <br> <br>
                                    <%= f.submit class: "btn btn-magenta center"%>
                                <% end %>
                            <% else %>
                                <% if order.status == "pending"%>  
                                    <%= link_to "Cancel Order", order_path(order), method: :delete, class: "btn btn-magenta center"%>
                                <% else %>
                                    <p> Can not cancel order while being processed or shipped </p>
                                    <%= link_to "Cancel Order", order_path(order), method: :delete, class: "btn btn-magenta disabled center"%>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="col-1"> </div>
                    </div>
                </div>
                <div class="hide-sm-more card-body bg-cream">
                    <h5 class="center card-title"> <strong> Ordered Cards: </strong> </h5>
                    <% order.selections.limit(3).each do |selection| %>
                        <div class="row">
                            <div class="col-8 offset-2 center">
                                <% card = selection.card%>
                                <% if card.card_type == "fold over"%>
                                    <img class="margin-bottom-sm" src=<%= rails_blob_path(card.display_s3)%> height=200px width=150px>
                                <% else %>
                                    <img class="margin-bottom-sm" src=<%= rails_blob_path(card.display_s3)%> height=150px width=200px>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                    <div class="row">
                        <% size = order.selections.size - 3 %>
                        <% if size >= 1%>
                            <p class="txt-lg center margin-top-sm"> + <%= size %> more </p>
                        <% end %>
                    </div>
                    <div class="col-md-auto">
                        <br>
                        <h5 class="center"> <strong> Status: order <%= order.status %> </strong> </h5>
                        <br>
                        <% if @admin %>
                            <%= form_with model: order do |f| %>
                                <%= f.select :status, @options, {}, { :class => 'form-control' } %>
                                <br> <br>
                                <%= f.submit class: "btn btn-magenta center"%>
                            <% end %>
                        <% else %>
                            <% if order.status == "pending"%>  
                                <%= link_to "Cancel Order", order_path(order), method: :delete, class: "btn btn-magenta center"%>
                            <% else %>
                                <p> Can not cancel order while being processed or shipped </p>
                                <%= link_to "Cancel Order", order_path(order), method: :delete, class: "btn btn-magenta disabled center"%>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <br> <br>
    <% end %>
</div>