<div id="env" data-public_key=<%= @publishable_key%> class="container sr-root">
    <p id="error" class="hidden alert alert-danger"> </p>
    <div class="hidden alert alert-success" id="success">
        
            Payment Succeeded! Your Order is Now Being Proccessed!
            <%= link_to "View Your Orders", orders_path(@order.id), class: "blue", :id => "order"%> 
        
    </div>
    <form id="payment-form">

        

        <%= hidden_field_tag :amount, @total*100%>
        <%= hidden_field_tag :currency, "usd"%>
        <%= hidden_field_tag :user_id, current_user.id%>
        <%= hidden_field_tag :email, current_user.email%>

        <div class="hide-lg-more" id ="lg">


            <div class= 'row margin-top'>
                <%= render 'address_block', address: Address.new, id: :shipping_address_id, title: "Shipping Address" %>
            </div>


            <hr>
            
            <div class= 'row margin-breaks'>
                <%= render 'address_block', address: Address.new, id: :billing_address_id, title: "Billing Address" %>
            </div>

        

            <div class="row margin-breaks">
                <div class= "col-2 offset-3">              
                    <strong> Payment Method </strong>
                </div>
                <div class="col-4">
                    <%= render 'payment_method' %>
                </div>
            </div>
        </div>

        <div class="hide-sm-more" id ="sm">
            <div class= 'row margin-top-sm margin-bottom-sm'>
                <div class= "offset-1 col-10">
                    <strong class="margin-left-md"> Shipping Address </strong>
                </div>
            </div>

            <div class="offset-1 col-10">
                <%= collection_select(:order, :shipping_address_id, @addresses.order(:address_line_1), :id, :address_line_1, {}, {class: "form-control"})%>
                <br>
                <%= link_to "Add New Address", new_address_path%>
            </div>

            <hr>

            <div class= 'row margin-top-sm margin-bottom-sm'>
                <div class= "offset-1 col-10">
                    <strong class="margin-left-md"> Billing Address </strong>
                </div>
            </div>

            <div class="offset-1 col-10">
                <%= collection_select(:order, :billing_address_id, @addresses.order(:address_line_1), :id, :address_line_1, {}, {class: "form-control"})%>
                <br>
                <%= link_to "Add New Address", new_address_path%>
            </div>
            
            <div class= 'row'>
                <div class= "offset-1 col-10">
                    
                    <br> <br>
                    <%= render 'payment_method' %>

                </div>
            </div>
        </div>


        <%= render 'footer' %>
    </form>
</div>



<script src="https://js.stripe.com/v3/"></script>
<%= javascript_pack_tag 'checkout'%>