<%= link_to cards_path(content => "1"), class:"btn gray-border rectangle" do %> 
    <div class="container fill box-relative">
        <% if card_type == "post card"%>
            <div class="margin-bottom">
                <% images.each do |card| %>
                    <div class="row center">
                        <img class="responsive-img-mobile" src=<%= rails_blob_path(card.display_s3)%> >
                    </div>
                <% end %>
            </div>
            <span class="center label-bold cursive-font bottom"> <%= content.capitalize %> Cards </span>
        <% else %>

            <div class="row center">
            
                <% images.each do |card| %>
                    <img class="responsive-img" src=<%= rails_blob_path(card.display_s3)%> >
                <% end %>
                
                <span class="center label-bold cursive-font bottom"> <%= content.capitalize %> Cards </span>
            </div>  
        <% end %>
    </div>
<% end %>