<div class="modal fade" id="edit_form" tabindex="-1" role="dialog" aria-labelledby="approvalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Home Page images:</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            
            <%= form_with(model: preference, local: true) do |form| %>
                <div class="modal-body">
                    <% if preference.errors.any? %>
                        <div id="error_explanation">
                        <h2><%= pluralize(preference.errors.count, "error") %> prohibited this card from being saved:</h2>

                        <ul>
                            <% preference.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                            <% end %>
                        </ul>
                        </div>
                    <% end %>

                    <div class="row margin-top-md">
                        <div class="field offset-1 col-10">
                            <%= form.label :greeting_message %>
                            <%= form.text_area :greeting_message, {class: "form-control", value: current_layout.greeting_message} %>
                        </div>
                    </div>


                    <div class="row margin-top-md">
                        <div class="field offset-1 col-5">
                            <%= form.label :top_left %>
                            <%= collection_select(:admin_preference, :homeDesign1, Card.distinct.pluck(:content), :to_s, :to_s, {:selected => current_layout.homeDesign1}, {class: "form-control"})%>
                        </div>

                        <div class="field col-5">
                            <%= form.label :top_right %>
                            <%= collection_select(:admin_preference, :homeDesign2, Card.distinct.pluck(:content), :to_s, :to_s, {:selected => current_layout.homeDesign2}, {class: "form-control"})%>
                        </div>
                    </div>


                    <div class="row margin-top-md">
                        <div class="field offset-1 col-5">
                            <%= form.label :bottom_left %>
                            <%= collection_select(:admin_preference, :homeDesign3, Card.distinct.pluck(:content), :to_s, :to_s, {:selected => current_layout.homeDesign3}, {class: "form-control"})%>
                        </div>

                        <div class="field col-5">
                            <%= form.label :bottom_right %>
                            <%= collection_select(:admin_preference, :homeDesign4, Card.distinct.pluck(:content), :to_s, :to_s, {:selected => current_layout.homeDesign4}, {class: "form-control"})%>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="center-w margin-top-md actions">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <%= form.submit "Update Home Page", class: "btn btn-success" %>
                    </div>
                </div>
            <% end %>
           
        </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>