<div class="container-fluid">


    <div class="card margin-top-md bg-light-pink padding-sides">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img class="card-img" src=<%= asset_path "bg-studio-new.jpg"%>>
            </div>
            <div class="col-md-6 box-relative">
                <div class="center-both cursive-font">
                    <h1 class="label-bold margin-top-mobile"> Some really Artsy Saying </h1>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="margin-top row box-relative">
        <div class="offset-3 col-6 offset-md-4 col-md-4  offset-lg-5 col-lg-2">
            <%= link_to "View All Designs", cards_path, class: "btn btn-magenta center"%>
        </div>
    </div>

    <div class="hide-lg-more">
        <div class="row margin-top">
            <div class="offset-md-1 col-5">
                <%= render 'card_button', content: "birthday", images: @birthday_cards, card_type: get_type("birthday"), border: false %>
            </div>
            <div class="col-5">
                <%= render 'card_button', content: "thank you", images: @thank_you_cards, card_type: get_type("thank you"), border: false %>
            </div>
        </div>

        <hr>

        <div class="row margin-top margin-bottom">
            <div class="offset-md-1 col-5">
                <%= render 'card_button', content: "sympathy", images: @sympathy_cards, card_type: get_type("birthday"), border: false %>
            </div>
            <div class="col-5">
                <%= render 'card_button', content: "blank", images: @blank_cards, card_type: get_type("blank"), border: false %>
            </div>
        </div>
    </div>

    <div class="hide-sm-more margin-bottom">
        <% @cards.each do |group| %>
            <div class="container">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 margin-top-md">
                    <%= render 'card_button', content: group.first.content, images: [group.first], card_type: get_type(group.first.content), border: true%>
                </div>
                
            </div>
            </div>
        <% end %>
    </div>





</div>
