<div class="container-fluid">


    <div class="card margin-top-md bg-light-pink padding-sides">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img class="card-img" src=<%= asset_path "bg-studio-new.jpg"%>>
            </div>
            <div class="col-md-6 box-relative">
                <div class="center-both cursive-font">
                    <h1 class="label-bold margin-top-mobile"> Welcome to my Studio </h1>
                    <p> <%= @preference.greeting_message%> </p>
                </div>
            </div>
        </div>
    </div>

    <div class="margin-top row box-relative">
        <div class="offset-3 col-6 offset-md-4 col-md-4  offset-lg-5 col-lg-2">
            <%= link_to "View All Designs", cards_path, class: "btn btn-magenta center"%>
        </div>
    </div>

    <% if user_admin? %>
        <div class="margin-top">
            <div class="center-w">
                <button id="edit_button" data-toggle="modal" data-target="#edit_form" class="btn btn-outline-secondary center-w"> Edit Home Page </button>
            </div>
        </div>

        <%= render 'form', preference: AdminPreference.new, current_layout: @preference%>
    <% end %>

    <div class="hide-lg">
        <div class="row margin-top">
            <div class="offset-1 col-5">
                <%= render 'card_button', content: @preference.homeDesign1, images: @homeDesign1, card_type: get_type(@preference.homeDesign1), border: false %>
            </div>
            
            <div class="col-5">
                <%= render 'card_button', content: @preference.homeDesign2, images: @homeDesign2, card_type: get_type(@preference.homeDesign2), border: false %>
            </div>
        </div>

        <hr>

        <div class="row margin-top margin-bottom">
            <div class="offset-1 col-5">
                <%= render 'card_button', content: @preference.homeDesign3, images: @homeDesign3, card_type: get_type(@preference.homeDesign3), border: false %>
            </div>
            
            <div class="col-5">
                <%= render 'card_button', content: @preference.homeDesign4, images: @homeDesign4, card_type: get_type(@preference.homeDesign4), border: false %>
            </div>
        </div>
    </div>

    <div class="hide-sm margin-bottom">
        <% @cards.each do |group| %>
            <div class="container">
                <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-10 margin-top-md">
                        <%= render 'card_button', content: group.first.content, images: [group.first], card_type: get_type(group.first.content), border: true%>
                    </div>
                </div>
            </div>
        <% end %>
    </div>





</div>
