<div class="container">
  <div class="translucent margin-left col-md-5 col-md-offset-4 jumbotron bg-cream">
    <h1 class="center">New Address</h1>
    <%= form_with(model: address, local: true) do |form| %>
      <% if address.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

          <ul>
            <% address.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= form.label :country %>
        <%= form.country_select :country, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :full_name %>
        <%= form.text_field :full_name, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :address_line_1 %>
        <%= form.text_field :address_line_1, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :address_line_2 %>
        <%= form.text_field :address_line_2, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :city %>
        <%= form.text_field :city, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :state %>
        <%= form.text_field :state, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :zip %>
        <%= form.text_field :zip, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :phone_number %>
        <%= form.text_field :phone_number, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.hidden_field :user_id, :value => current_user.id, class: "form-control" %>
      </div>

      <div class="actions form-group">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
