
<div class="col-md-6 offset-md-3">
  <div class="translucent jumbotron bg-cream margin-top margin-bottom">
    <h1 class="center">Card Details</h1>
    <%= form_with(model: card, local: true) do |form| %>
      <% if card.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

          <ul>
            <% card.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :content %>
        <p class="small"> (eg. birthday, sympathy, blank) </p>
        <%= form.text_field :content, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :card_type %>
        <p class="small"> (eg. post card, fold over) </p>
        <%= form.text_field :card_type, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :painted %>
        <%= form.check_box :painted, class: "lg-checkbox" %>
      </div>

      <div class="field">
        <%= form.label :hand_cut %>
        <%= form.check_box :hand_cut, class: "lg-checkbox" %>
      </div>

      <div class="field">
        <%= form.label :short_description %>
        <p class="small"> (eg. Multifloral Birthday Card) </p>
        <%= form.text_field :short_description, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :long_description %>
        <%= form.text_field :long_description, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :display_image %>
        <p class="small"> (you must provide a display image if one doesn't already exist, if one does this image will replace it.) </p>
        <%= form.file_field :display, class: "form-control-file" %>
      </div>

      <div class="field">
        <%= form.label :other_images %>
        <p class="small"> (add the display image here as well if you want it displayed on the carousel, even if you added it to the previous file input.) </p>
        <%= form.file_field :images, :multiple => true, class: "form-control-file" %>

      </div>

      <div class="actions">
        <%= form.submit class: "btn btn-magenta" %>
      </div>
    <% end %>
  </div>
</div>

