<div class="navbar-pad container">

  <div class="row fill">

    <div class="col-3">
      <h3> Filter Search </h3>
      <hr>
      <%= form_with(url: cards_path, method: "get", local: true) do %>
        <% @columns.each do |column| %>
          <strong> <%= column %> </strong>
          <br> <br>
          <% all_column_filters(column).each do |filter| %>
            <div class= "form-group row">
              <%= check_box_tag(filter.parameterize.underscore.to_sym) %> &nbsp; &nbsp;
              <%= label_tag(filter, filter ) %> 
            </div>
          <% end %>
          <hr>
        <% end %>
        <%= submit_tag("Save") %>
      <% end %>
    </div>

    <div class="col-9 containter">
      <h3 class="center"> Cards </h3>
      <div class="row fill">
        <% @card_groups.each do |group| %>
          <div class="col-4">
            <% group.each do |card| %>
              <%= link_to card do %>
                <img class="responsive padding-sides" src= <%= card.img %> height=300px width=250px/>
                <br>
                <p class="center"> <%= card.content %> <p>
                <br>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
