<div class="navbar-pad container">

  <div class="row fill margin-bottom">

    <div class="col-3 jumbotron bg-cream">
      <h3> Filter Search </h3>
      <hr>
      <%= form_with(url: cards_path, method: "get", local: true) do %>
        <% @columns.each do |column| %>
          <strong> <%= column %> </strong>
          <br> <br>
          <% all_column_filters(column).each do |filter| %>
            <div class= "form-group row">
              <%= check_box_tag(filter.parameterize.underscore.to_sym, "1", false, {class:"lg-checkbox"}) %> &nbsp; &nbsp;
              <%= label_tag(filter, filter.capitalize, class:"label-bold") %> 
            </div>
          <% end %>
          <hr>
        <% end %>
        <%= submit_tag("Save", class: "btn btn-primary") %>
      <% end %>
    </div>

    <div class="col-1"> </div>

    <div class="col-8 jumbotron bg-cream">
      <h3 class="center"> Cards </h3>
      
      <hr>
      
      <% @card_groups.each do |group| %>
        <div class="row">
          <% group.each do |card| %>
            <div class="col-4 img-cont img-center">
              <%= link_to card do %>
                <% if card.card_type == "fold over"%>
                  <img class="fold-over responsive img-center padding-sides" src= <%= url_for(card.display_s3) %> />
                <% else %>
                  <img class="post-card responsive margin-top-sm img-center padding-sides" src= <%= url_for(card.display_s3) %> height=150px width=200px/>
                <% end %>
                <br>
                <p class="center"> <strong> <%= card.short_description %> </strong> <p>
                <br> 
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if user_admin? %>
        <%= link_to "Create a card", new_card_path, class: "btn btn-magenta float-right"%>
      <% end %>
    </div>

  </div>
</div>
