<div class="container">

  <div class="navbar-pad row fill margin-bottom hide-lg-more">

    <div class="col-3 jumbotron bg-cream">
      <h3> Filter Search </h3>
      <hr>
      <%= form_with(url: cards_path, method: "get", local: true) do %>
        <% @columns.each do |column| %>
          <strong> <%= column %> </strong>
          <br> <br>
          <% all_column_filters(column).each do |filter| %>
            <div class= "form-group row">
              <%= check_box_tag(filter.parameterize.underscore.to_sym, "1", false, {class:"lg-checkbox"}) %> &nbsp; &nbsp;
              <%= label_tag(filter, filter.capitalize, class:"label-bold") %> 
            </div>
          <% end %>
          <hr>
        <% end %>
        <%= submit_tag("Save", class: "btn btn-magenta") %>
      <% end %>
    </div>

    <div class="col-1"> </div>

    <div class="col-8 jumbotron bg-cream">
      <h3 class="centers"> Cards </h3>
      
      <hr>
      
      <% @card_groups.each do |group| %>
        <div class="row">
          <% group.each do |card| %>
            <div class="col-4 img-cont img-center">
              <%= link_to card do %>
                <% if card.card_type == "fold over"%>
                  <img class="responsive-desktop-img fold-over responsive img-center padding-sides" src= <%= rails_blob_path(card.display_s3) %> />
                <% else %>
                  <img class="responsive-desktop-img post-card responsive margin-top-med img-center padding-sides" src= <%= rails_blob_path(card.display_s3) %> height=150px width=200px/>
                <% end %>
                <br>
                <p class="center bottom"> <strong> <%= card.short_description %> </strong> <p>
                <br> 
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if user_admin? %>
        <%= link_to "Create a card", new_card_path, class: "btn btn-magenta float-right"%>
      <% end %>
    </div>

  </div>

  <div class="hide-sm-more fill margin-bottom">
  
    <h5 class="label-bold margin-top-sm"> CARDS </h5>
    <div class="row margin-bottom-sm">
      <nav class="navbar navbar-expand-lg navbar-light bg-cream full-width">
        <span class="navbar-brand">Refine </span>
        <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-plus"></i>
        </button>
        
      </nav>
      <div class="collapse navbar-collapse bg-normal with-gutters" id="navbarTogglerDemo01">
          <ul class="navbar-nav mt-2 mt-lg-0">
            <% i = 0%>
            <%= form_with(url: cards_path, method: "get", local: true) do %>
              <% @columns_l.each do |column| %>
                <strong class> <%= column %> </strong>
                <br> <br>
                <% all_column_filters(column).each do |filter| %>
                  <div class= "form-group row">
                    <%= check_box_tag(filter.parameterize.underscore.to_sym, "1", false, {class:"lg-checkbox"}) %> &nbsp; &nbsp;
                    <%= label_tag(filter, filter.capitalize, class:"label-bold") %> 
                  </div>
                <% end %>
                <% if column != @columns_l.last %>
                  <hr>
                <% end %>
              <% end %>
              <%= submit_tag("Save", class: "btn btn-magenta") %>
              <hr>
            <% end %>
          </ul>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="container">
          <% @card_groups_mobile.each do |group| %>
            <div class="row">
              <% group.each do |card| %>
                <br> <br>
                <div class="col-6 padding-sides">
                  <%= link_to card do %>
                    <div class="mobile-img-cont ">
                      <% if card.card_type == "fold over"%>
                        <img class="responsive-mobile-fold-over" src= <%= rails_blob_path(card.display_s3) %> />
                      <% else %>
                        <img class="responsive-mobile-post-card margin-top-sm" src= <%= rails_blob_path(card.display_s3) %> />
                      <% end %>
                    </div>
                    <p class="center"> <strong> <%= card.short_description %> </strong> <p>
                  <% end %>
                </div>
                <br> <br>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
