<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @card.content %>
</p>

<p>
  <strong>Card type:</strong>
  <%= @card.card_type %>
</p>

<p>
  <strong>Painted:</strong>
  <%= @card.painted %>
</p>

<p>
  <strong>Hand cut:</strong>
  <%= @card.hand_cut %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
