<nav class="height fixed-top section navbar navbar-expand-lg navbar-light bg-cream fancy-font">

  <div class="navbar-collapse collapse w-100 order-1 order-md-0">
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="/"> Jennifer's Design Studio </a>
    <div class="navbar-collapse collapse" id="central-links">
      <ul class="navbar-nav mx-auto center">
        <% if !logged_in? %>
          <li> <%= link_to "Login", login_path, class:"nav-link large-nav-text"%>
        <% end %>
        <li><%= link_to "Designs", cards_path, class: "nav-link large-nav-text" %></li>
        <% if user_admin? %>
          <li><%= link_to "Orders", orders_path, class:"nav-link large-nav-text"%></li>
        <% end %>
        <div class="hide">
          <% if logged_in? %>
            <li> <%= link_to "Profile", user_path(current_user), class: "nav-link large-nav-text"%></li>
          <% else %>
            <li> <%= link_to "Profile", login_path, class: "nav-link large-nav-text"%></li>
          <% end %>
          <li> <%= link_to "Cart", shopping_cart_path(current_cart_path), class: "nav-link large-nav-text"%></li>
        </div>
        <% if logged_in? %>
          <li><%= link_to "Logout", logout_path, method: :delete, class: "nav-link large-nav-text" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="navbar-collapse collapse w-100 order-3">
    <ul class="navbar-nav ml-auto">
      <li>
        <% if logged_in? %>
          <%= link_to user_path(current_user), class: "nav-link" do %>
            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <%= link_to login_path, class: "nav-link" do %>
            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </li>    
      <li>
        <%= link_to shopping_cart_path(current_cart_path), class: "nav-link" do %>
          <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
          <% if selections_size(current_cart) > 0 %>
              <span class="pad-top-less"> x <%= selections_size(current_cart) %> </span>
          <% end %> 
        <% end %>
      </li>

    </ul>
  </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#central-links">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>